<form action='/checkout' id='hosted-fields-form' method='post'>
    <label for='card-nubmer'>Card Number</label>
    <div id='card-number'></div>

    <label for='cvv'>CVV</label>
    <div id='cvv'></div>

    <label for='expiration-date'>Expiration Date</label>
    <div id='expiration-date'></div>

    <div id='checkout-message'></div>

    <input type='submit' value="Pay" disabled />
</form>

<script>
    var form = document.querySelector('#hosted-fields-form');
    var submit = document.querySelector('input[type="submit"]');

    braintree.dropin.create({
        authorization: 'sandbox_ndszmj76_7c2b6vwtqz2z38zm',
        container:'#dropin-container'
    }, function(clientErr, clientInstance) {
        if(clientErr) {
            console.error(clientErr);
            return;
        }
        //create a hosteFields component to initialze the form
        braintree.hostFields.create({
            client: clientInstance,
            //customize the hosted fields.
            //more information can be found at:
            // https://developers.braintreepayments.com/guides/hosted-fields/styling/javascript/v3
            styles: {
                'input': {
                    'font-size': '14px'
                },
                'input.invalid': {
                    'color': 'red'
                },
                'input.valid': {
                    'color':'green'
                }
            },
            fields: {
                number: {
                container: '#card-number',
                placeholder: '4111 1111 1111 1111'
                },
                cvv: {
                container: '#cvv',
                placeholder: '123'
                },
                expirationDate: {
                container: '#expiration-date',
                placeholder: '10/2022'
                }
            }
        }
        })
    }
    })
</script>